<%- include header %>
这是<%= message %>
<div>
   <a href="/post"> <h2><%= title %></h2> </a>
</div>
<div>
    <% posts.forEach(function(post){ %>
        <h2>
            <a href="/p/<%= post._id %>">
                <%= post.title %>
            </a>
        </h2>
        <p>
            日期: <%= post.time %>
        </p>
        <p>
            <%= post.content %>
        </p>
    <% })%>
</div>
<%- include footer %>