<%- include header %>
<div>
    <a href="/post"> <h2><%= title %></h2> </a>
</div>
<div>
    <h2>
        <%= post.title %>
    </h2>
    <p>
        日期: <%= post.time %>
    </p>
    <p>
        <%= post.content %>
    </p>
</div>
<%- include footer %>